body {
    margin: 0;
}
#navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-grow: 1;
    max-height: 10%;
    min-height: 40px;
}
.navBtnsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}
.navBtns {
    cursor:pointer;
}
.allPostsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.allPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    width: 80%;
    background-color: white;
    padding: 15px;
}
.registrationForm, .loginForm {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
}
.newPostForm {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.newPostDetails {
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
    margin-top: 80px;
}
.newPostTitle {
    margin-top: 30px;
}
div#app{
    height: 100vh;
}
.myPosts{
    border: 1px solid black;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 5px;
}


.postTitle {
    border-bottom: 2px solid black;
    width: 80%;
    text-align: center;
}
.userPostContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: lightgray;
}

.postDetailContainer {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.postDetails {
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    
}
.userMessagesContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: lightgray;
}
.userMsgDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 70%;
    border: 2px solid black;
    margin: 20px;
}
.userPostBtn, .userMsgBtn {
    width: 100%;
    text-align: center;
}
